*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.navbar{
    padding-top: 20px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}


.link{
    font-size: 20px;
    padding: 20px;
    color: grey;
    cursor: pointer;
}

.link:hover{
    color: black;
    text-decoration: underline;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}

img{
    width: 80%;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

button{
    background-color: blue;
    color: white;
    padding: 4px;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
}